/**
 * Main
 */

.seperated {
	@include opacity(50);
	display: block;
	margin-top: $gap;
	text-align: center;

	&:hover {
		@include opacity(100);
	}
}

.discrete {
	margin: 0 !important;
	padding: 0 !important;
}

.no-wrap {
	white-space: nowrap;
}

.space-left {
	margin-left: $gap;
}

.fa {
	padding-right: 5px;
}

.alert-buttons {
	overflow: hidden;
	line-height: 34px;
	.btn {
		margin-left: 5px;
	}
}

.login {
	// padding: 80px 0;
	.client-logo {
		display: block;
		margin: 0 auto $gap;
		max-height: 150px;
		max-width: 500px;
	}
}

.form-signin {
	background: #fff;
	border: 1px solid #ddd;
	margin: 0 auto;
	max-width: 500px;
	.login-container {
		padding: 20px $gap;
		overflow: hidden;
	}
	.page-header {
		margin-top: 0;
	}
	.form-control {
		position: relative;
		height: auto;
		padding: 10px;
		font-size: 16px;
	}
	.form-control:focus {
		z-index: 2;
	}
	.input-group {
		margin-bottom: $gap;
		width: 100%;
	}
	.input-group-addon {
		width: 36px;
	}
	.fa {
		padding-right: 0;
	}
	.login-footer {
		background: #f5f5f5;
		clear: both;
		font-size: 12px;
		line-height: 1;
		padding: $gap;
		a {

		}
	}
}


/*
 * Global add-ons
 */

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}


/*
 * Main content
 */


.main {
	border-radius: 3px;
	padding: 20px;
	margin: 0 20px 20px;
	overflow: hidden;
	background: #fff;
}

.main .page-header {
	margin-top: 0;
}


.table>tbody>tr>td {
	line-height: 30px;
	&:last-child {
		text-align: right;
	}
}

/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
  > p {
	color: #d9534f;
	margin-top: 10px;
  }
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

label {
	display: block;
}
.form-inline {
	label {
		display: inline-block;
		&:after {
			content: ": ";
			display: inline-block;
			padding-right: 5px;
		}
	}

}

input[type="text"],
input[type="email"],
input[type="password"],
select.form-control,
.select2,
.select2-input,
.input-group {
	max-width: 700px;
}
input.form-control-wide {
	max-width: 100%;
}
.form-group,
.form-row {
	padding: 10px;
	margin-bottom: 0;
}

.form-group {
	clear: both;
	&.bs-callout-danger {
		background: #fdf7f7 !important;
	}
}

.form-group:nth-of-type(even) {
	background: #f5f5f5;
	.form-group {
		background: #f5f5f5;
	}
}

.form-group:nth-of-type(odd) .form-group {
	background: transparent;
}

.btn-group + .btn {
	margin-right: 15px;
}

.inline-form {
	display: inline-block;
}

.cell-small {
	width: 1%;
}

.checkbox {
	font-weight: 100;
	width: 25%;
	float: left;
	margin-top: 0;
	padding-left: $gap;
	border-left: 1px solid #ddd;
}
.checkbox+.checkbox {
	margin-top: 0;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
	margin-left: 0;
	margin-right: $gap;
}

.table-responsive {
	margin-bottom: 1em;
	clear: both;
}


.faux-table {
	margin-bottom: $gap;
	display: table;
	width: 100%;
	border-bottom: 1px solid #ddd;
}
.faux-table-row {
	width: 100%;
	display: table-row;
	&:nth-child(odd) {
		background-color: #f9f9f9;
	}
}
.faux-table-heading {
	font-weight: bold;
}
.faux-cell {
	border-top: 1px solid #ddd;
	vertical-align: middle;
	display: table-cell;
	padding: 8px;
	line-height: 30px;

	&:last-child {
		text-align: right;
	}
}

/* Sortable */
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
.sortable {
	position: relative;
}
.nested {
	border-bottom: 1px solid #ddd;
	margin-bottom: $gap;
	ol {
		padding-left: 30px;
		position: relative;
		li {
			border-left: 3px solid #ddd;

			&:last-child {
				border-bottom: 1px solid #ddd;
			}
		}

	}
	li {
		border-top: 1px solid #ddd;
		overflow: hidden;
		&:nth-child(odd) {
			background-color: #f9f9f9;
			li:nth-child(odd) {
				background-color: #fff;
				li:nth-child(odd) {
					background-color: #f9f9f9;
				}
			}
		}
		&:nth-child(even) {
			background-color: #fff;
			li:nth-child(even) {
				background-color: #f9f9f9;
				li:nth-child(even) {
					background-color: #fff;
				}
			}
		}
		&:last-child {
			margin-bottom: $gap;
		}
	}

	> li:last-child {
		margin-bottom: 0;
	}

	.nested-value {
		display: inline-block;
		padding-right: $gap;
	}
	.actions {
		float: right;
	}
}

div.nested-group {
	display: block;
	padding: 8px;
	height: 48px;
	line-height: 32px;
}

.sorting-handle {
	color: #888;
	visibility: hidden;
	padding: 10px 15px;
	cursor: move;
	.faux-table-row:hover & {
		color: #000;
	}
	.sortable & {
		visibility: visible;
	}
}

li.placeholder {
	border-top: 0px;
	height: 48px;
	display: block;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		right: 0;
		left: 0;
		height: 48px;
		background: #d9edf7;
		border: 1px solid #bce8f1;
	}
}

.note-editor {
	background: #fff;
}


/* Order Summary */
.addresses {
	.shipping,
	.billing {
		width: 49.3%;
		display: inline-block;
		padding: $gap;
		background-color: $light;
	}
	.shipping {
		margin-right: 10px;
	}

	h3 {
		font-size: 18px;
		padding: 0 0 10px;
		border-bottom: 1px solid $mid;
	}
}

/* Bootstrap overrides */
.btn-group .btn {
	font-size: 12px;
}

.btn-group + .btn {
	margin-right: 0;
}

/*
 * Media Upload
 */

.fileinput-button {
  position: relative;
  overflow: hidden;

  input {
	  position: absolute;
	  top: 0;
	  right: 0;
	  margin: 0;
	  opacity: 0;
	  -ms-filter: 'alpha(opacity=0)';
	  font-size: 200px;
	  direction: ltr;
	  cursor: pointer;
	}
}

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.progress-animated .progress-bar,
.progress-animated .bar {
  background: url("../img/progressbar.gif") !important;
  filter: none;
}
.fileupload-process {
  float: right;
  display: none;
}
.fileupload-processing .fileupload-process,
.files .processing .preview {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/loading.gif") center no-repeat;
  background-size: contain;
}
.files audio,
.files video {
  max-width: 300px;
}

@media (max-width: 767px) {
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files .name {
    width: 80px;
    word-wrap: break-word;
  }
  .files audio,
  .files video {
    max-width: 80px;
  }
  .files img,
  .files canvas {
    max-width: 100%;
  }
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}




/* DateTimeField */
.ui-datepicker {
	z-index: 3 !important;
}
